<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Добро пожаловать в панель управления сайта.</h1>
<a href="/parse/xml">Добавить авто или комплектацию</a>
<a href="/parse/autoru">Обновить б.у. цены на автомобили</a>

</body>
</html>