<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div style="text-align: center"><h1>Нажмите на кнопку чтобы обновить данные из auto.ru</h1></div>
<br>
<br>
<br>
<br>
<div style="text-align: center"><button>ЖМИ !</button></div>
</body>
</html>