@import "bourbon"
@import "_vars.sass"
@import "../app/libs/FontAwesome/fontawesome.sass"
//Load Libs SASS
@import "app/libs/animate/animate.sass"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.head
  position: relative
  background-image: none

.navi
  display: none

.background
  background-color: #f9f9f9

.srch-box-allfiltrs
  opacity: 0