@import "bourbon"
@import "_vars.sass"
@import "../app/libs/FontAwesome/fontawesome.sass"
//Load Libs SASS
@import "app/libs/animate/animate.sass"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.head
  position: relative
  min-height: 0px
  background-image: none
  z-index: 10

.section
  z-index: -1


.srch-box
  h4
    font-size: 14px
  .srch-box-price
    input
      width: 36%
      font-size: 12px
  div
    span
      font-size: 12px


.srch-box-vendr
  td
    padding: 0
  span
    font-size: 12px


.srch-box-vendr-loadmore
  background-color: #EFEFEF

.catalogcar  
  position: relative
  border: solid 1px #efefef
  position: relative
  margin-bottom: 5px
  img
    width: 100%
  h2,h3
    margin: 0
  &:hover
    border: 2px solid $main-light-color
    .exit
      &:before
        opacity: 1

.catalogcar-price
  position: absolute
  top: 10px
  right: 50px
  text-align: center
  border-radius: 4px
 
.exit
  position: relative
  pointer-events: none
  &:before
    position: absolute
    content: ''    
    font-family: "FontAwesome"
    opacity: 0
    top: -48px
    right: -27px
    pointer-events: all
    cursor: pointer
    
.item-hidden
  display: none


.catalogcar-more
  position: absolute
  bottom: 10px
  right: 50px
  i
    opacity: 0
  span
    text-decoration: underline
  &:hover
    text-decoration: none
    display: block
    i
      transition: all ease .5s
      opacity: 1
      transform: rotate(360deg)

.catalogcar-descr-featur
  ul
    li
      font-size: 14px
      color: #737373

.catalogcar-descr-name
  padding-top: 5px
  font-size: 24px

  //ALWAYS END
@import "media"