@import "bourbon"
@import "_vars.sass"
@import "../app/libs/FontAwesome/fontawesome.sass"
//Load Libs SASS
@import "app/libs/animate/animate.sass"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.head
  position: relative
  min-height: 0px
  background-image: none
  z-index: 10

.section
  z-index: -1

table
  margin-top: 2px

.item
  position: relative
  pointer-events: none
  &:before
    content: ''
    height: 50%
    width: 30%
    top: 30px
    left: 90px
    position: absolute
    background-image: url(../img/white-cross.png)
    background-size: cover
    background-position: center
    cursor: pointer
    pointer-events: all
    opacity: 0
  &:hover
    img
      filter: blur(5px)
      transition: all ease .1s
      z-index: -1
    &:before
      opacity: 1
      z-index: 5
  img
    width: 250px
   
.comparison
  th
    div.item-name
      background-color: #fff
      width: 100%
    &:first-child
      background-color: #fff
  td
    text-align: center


    

.back
  font-size: 12px
  background-color: #F9F9F9
  padding: 6px
  border-radius: 5px
  margin-right: 5px
  &:hover
    background-color: #F1EFEF
    color: $main-dark-color
    text-decoration: none

.back-active
  background-color: $main-light-color
  &:hover
    background-color: $main-light-color

    
    
