@import "bourbon"
@import "_vars.sass"
@import "../app/libs/FontAwesome/fontawesome.sass"
//Load Libs SASS
@import "app/libs/animate/animate.sass"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.head
  position: relative
  min-height: 0px
  background-image: none
  z-index: 10

.section
  z-index: -1

div#rating
  float: none
  margin-left: 5px

textarea
  box-sizing: content-box
  overflow: hidden
  /* demo only: */
  padding: 10px
  width: 550px
  font-size: 14px
  display: block

.butn
  margin-top: 10px