@import "bourbon"
@import "_vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "AleksandraC", sans-serif
	overflow-x: hidden


h1,h2,h3,h4,h5,h6
  font-weight: 100

a
  font-family: "AleksandraC", sans-serif
  color: $main-dark-color
  &.active
    color: $main-light-color
  &:hover
    color: $main-light-color
  &:focus
    outline: none
    color: $main-dark-color
    text-decoration: none

.head
  position: relative
  min-height: 800px
  background-image: url(../img/background-image.png)
  background-size: cover
  background-position: center

.compar-hdr
  float: right
  margin-right: 60px
  background-color: rgb(227, 227, 230)
  width: 25px
  line-height: 21px
  border-radius: 4px
  text-align: center
  padding-right: 6px
  margin-top: 10px

.hidden
	display: none

.top-mnu
  margin-top: 26px
  li
    list-style-type: none
    float: left
    margin-left: 40px
    line-height: 40px

.top-mnu-sectns
  ul
    li
      a
        font-size: 14px

.has-sub
  position: relative

.top-mnu-myroom
  display: none
  position: absolute
  top: 0
  left: 0
  width: 182px
  background-color: rgb(248, 248, 248)
  margin-top: 35px
  box-shadow: 0 0 5px rgba(0,0,0,.5)
  div
    font-size: 12px
    text-indent: 5px

.logolnk
  line-height: 60px

.logolnk-img
  height: 40px

.srch
  margin-top: 50px

.srch-box
  background-color: rgba(248, 248, 248, 0.82)
  margin-bottom: 130px
  h4
    width: 100%
    padding-top: 10px
    text-indent: 10px
    line-height: 15px
    margin: 5px 0 15px 0
  span
      margin-left: 10px
      font-size: 14px
  hr
    margin: 30px 0px 0px
    border-top: 1px solid #cbcbcb

  .srch-box-price
    input
      display: inline-block
      width: 37%


  .srch-box-pricehdr
    padding-top: 20px

  .srch-box-condi
    input
      margin-left: 10px
      color: #fff
      background-color: $main-light-color


.srch-box-chboxlabel
  margin-left: 10px
  margin-right: 10px
    
.srch-box-checkbox
  position: absolute
  width: 14px
  height: 14px
  background-color: $main-dark-color
  cursor: pointer
  border-radius: 2px
  margin-left: 2px;
  margin-top: 6px;

.check
  background-color: $main-light-color
  transition: all .2s
  &:before
    content: '\2713'
    font-size: 12px
    color: #f3f3f3
    text-align: center
    line-height: 2px
    position: absolute
    top: 7px
    left: 2px

.srch-box-vendr
  position: relative
  table
    margin-bottom: 15px
  td
    padding: 0 7px

.srch-box-vendr-loadmore
  width: 100%
  height: 40px
  background-color: #fff
  color: $main-light-color
  text-align: center
  line-height: 40px
  margin-top: 15px

.double-chevron
  font-family: "FontAwesome"

.srch-box-vendr-loadmore-lnk:hover
  text-decoration: none
  cursor: pointer
  .showall
    text-decoration: underline

.srch-box-butn
  text-align: center
  padding-top: 10px

.butn
  display: inline-block
  background-color: $main-light-color
  border: none
  padding: 11px 72px
  transition: all .2s ease 
  text-decoration: none
  font-size: 18px
  line-height: 18px
  box-shadow: 0 0 5px rgba(0,0,0,0.5)
  cursor: pointer
  &:active
    box-shadow: none
    font-size: 17px
  &:focus
    outline: none

.srch-box-allfiltrs
  text-align: center
  text-decoration: underline
  padding-bottom: 10px

.navi
  bottom: 12px
  position: sticky
  height: 40px
  width: 40px
  text-align: center
  border-radius: 25px
  right: 0px
  margin-left: 50%
  img
    height: 30px
    width: 30px
    margin-top: 7px

.srch-box-vendr-exp
  display: none
    
.expanded
  overflow-y: scroll
  height: 150px
  .srch-box-vendr-loadmore
    display: none
  .srch-box-vendr-exp
    display: block

.rating
  display: inline-block
  float: right
  padding-right: 7px
  font-family: "FontAwesome"
  color: $main-light-color
  font-size: 14px
  padding-top: 2px

#login,#registration
  position: relative
  margin: auto
  background-color: #fff
  max-width: 360px
  
#login,#registration
  padding: 10px 15px 10px
  h2
    text-align: center
    color: #33b5e5
  input
    outline: 0
    width: 80%
    margin-top: 25px
    transform: translateX(10%)
    border: 0
    border-bottom: 1px solid #999999
    padding: 12px
    font-size: 14px
    box-sizing: border-box
  .butn
    background-color: #33b5e5
    margin-top: 50px
    color: #fff
    border-radius: 26px
    width: 80%
    transform: translateX(10%)
    margin-bottom: 30px
      

.inp-wr
  position: relative

.line 
  position: absolute
  bottom: 0
  left: 8%
  background: #33b5e5
  width: 0%
  height: 2px
  transition: .6s ease
    