@import "bourbon"
@import "vars.sass"
@import "../app/libs/FontAwesome/fontawesome.sass"
@import "../app/libs/owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.sass"
//Load Libs SASS
@import "app/libs/animate/animate.sass"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.head
  position: relative
  min-height: 0px
  background-image: none
  z-index: 10

.section
  z-index: -1

.back
  font-size: 24px
  padding: 6px
  margin-right: 3px
  &:hover
    text-decoration: none
    i
      transition: all ease .5s
      transform: rotate(360deg)
  
.image-wrapper
  position: relative
  margin: 30px 0 0 0
  img
    width: 100%

.equip
  table
    width: 100%
    margin-top: 20px
    tr
      td
        font-size: 14px
        text-align: center
        padding-right: 3px
        padding-left: 3px

.equip-hdr
  background-color: $main-light-color
  th
    padding-right: 10px
    padding-left: 10px
    font-size: 17px

.prices
  float: right
  position: relative
  th
    padding: 0 3px 2px 3px
    &:first-child
      text-align: right
      font-size: 16px
      color: #716767
    &:last-child
      text-align: left
      font-size: 42px
      color: $main-light-color
      padding-bottom: 12px
  td
    padding: 0 3px 0 3px
    vertical-align: baseline
    &:first-child
      text-align: right
      color: #716767
      font-size: 14px
    &:last-child
      text-align: left
      font-size: 24px
  
.favourite
  position: absolute
  border: 1px solid rgba(80, 80, 80, 0)
  border-radius: 2px
  padding: 0 6px 0
  top: 0
  left: 0
  cursor: pointer
  box-shadow: 0 0 5px rgba(0,0,0,.5)
  &:active
    background-color: $main-light-color
    box-shadow: none
    border: 1px solid $main-light-color
    i
      color: #fff
  


.compare
  @extend .favourite
  left: -40px

.params
  float: right
  p
    color: $main-light-color
    font-size: 32px

.equip-hdr-price
  width: 100px

.equip-hdr-engine
  width: 145px

.equip-hdr-petrol
  width: 180px
    
.equip-hdr-fastness
  width: 185px

.reviews
  h2
    color: $main-light-color

.reviews-usrrev
  border: 1px solid #EDEDED
  border-radius: 2px
  margin-bottom: 10px
  padding: 3px


.reviews-useropin
  background-color: #f9f9f9
  padding: 20px 5px

.butn
  font-size: 14px
  &:hover
    background-color: #CA7728
  &:active
    font-size: 13.5px


.reviews-showmore
  text-align: center
  background-color: #AFAFAF
  line-height: 40px
  box-shadow: 0 0 5px rgba(0,0,0,.5)
  &:hover
    background-color: #999999
  &:active
    box-shadow: none

.offers-wrapper
  position: relative

.sect-1-cars-item-list-clarifi
  display: inline-block
  float: right
  padding-right: 7px

.sect-1-cars-item
  position: relative
  background-color: #FAF9F9
  &:hover
    a
      color: $main-light-color
  img
    width: 100%
    height: 100%
  h4
    font-size: 15px
    padding-left: 7px
    text-decoration: underline
  ul
    padding: 0 0 0 7px
    li
      list-style-type: none
      font-size: 14px
      span
        font-family: "FontAwesome"
        padding-right: 2px
      div 
        @extend .sect-1-cars-item-list-clarifi
  h5
    padding-left: 15px
    font-size: 16px
    padding-bottom: 10px
    div
      @extend .sect-1-cars-item-list-clarifi


.rating
  @extend .sect-1-cars-item-list-clarifi
  font-family: "FontAwesome"
  color: $main-light-color
  font-size: 14px
  padding-top: 2px

.sect-1-cars
  position: relative
  .owl-controls
    width: 100%
    left: 0
    .owl-nav
      position: absolute
      width: 100%
      bottom: 60%
      > div
        position: absolute
        left: -30px
        font-size: 34px
        &.owl-next
          right: -30px
          left: auto


.slide
  width: 100%
  

.owl-carousel
  margin-left: 15px


ul
  list-style:none

#gallery 
  margin: 0 auto

#gallery ul 
  padding-left: 10px
  position: absolute
  top: 0
  right: -33px
  width: 128px

#gallery li 
  display: inline
  margin-right: 3px

#gallery #main-img 
  padding-right: 90px

.hasinfo
  position: relative

.infotoggle
  cursor: pointer

.infotoggle-text
  display: none
  position: absolute
  bottom: -64px
  right: -100px
  background-color: $main-dark-color
  padding: 25px 5px 10px
  border-radius: 9px
  color: #EAEAEA
  &:after
    position: absolute
    left: 24.5%
    top: -8.5px
    width: 0
    height: 0
    content: ''
    border-left: 20px solid transparent
    border-right: 20px solid transparent
    border-bottom: 20px solid $main-dark-color

//ALWAYS END
@import "media"