@import "bourbon"
@import "vars.sass"
@import "../app/libs/owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.sass"
@import "../app/libs/FontAwesome/fontawesome.sass"
//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.triangle
  height: 56px
  width: 100%
  position: absolute
  bottom: 65px
  background-position: top
  background-size: 100% 100%

.before
  content: ''
  position: absolute
  left: 0
  z-index: 10


.sect-1
  position: relative
  background-color: #fff

.sect-1:before
  @extend .before
  margin-left: -9px
  margin-top: 1px
  top: -55px  
  @extend .triangle
  background-image: url(../img/triangle2.svg)

.sect-1:after
  @extend .before
  bottom: -55px
  @extend .triangle
  background-image: url(../img/triangle2-conv.svg)


.sect-1-cars-item-list-clarifi
  display: inline-block
  float: right
  padding-right: 7px

.sect-1-cars-item
  position: relative
  background-color: #FAF9F9
  &:hover
    a
      color: $main-light-color
  img
    width: 100%
    height: 100%
  h4
    font-size: 15px
    padding-left: 7px
    text-decoration: underline
  ul
    padding: 0 0 0 7px
    li
      list-style-type: none
      font-size: 14px
      span
        font-family: "FontAwesome"
        padding-right: 2px
      div 
        @extend .sect-1-cars-item-list-clarifi
  h5
    padding-left: 15px
    font-size: 16px
    padding-bottom: 10px
    div
      @extend .sect-1-cars-item-list-clarifi

footer
  background-color: rgb(63, 63, 63);
  height: 142px;

.onfooter
  margin-top: 0px
  padding-top: 55px
  a
    color: #c3c3c3
    img
      margin-left: 30px
    &:hover
      color: $main-light-color
  li
    margin-left: 0
    margin-right: 40px

.sect-1-cars
  position: relative
  .owl-controls
    width: 100%
    left: 0
    .owl-nav
      position: absolute
      width: 100%
      bottom: 60%
      > div
        position: absolute
        left: -30px
        font-size: 34px
        &.owl-next
          right: -30px
          left: auto


.slide
  width: 100%
  

.owl-carousel
  margin-left: 15px



//ALWAYS END
@import "media"
