footer
  background-color: #505050
  height: 100px
  position: relative
  margin-top: 60px
  &:before
    content: ""
    position: absolute
    left: 0
    top: -15px
    height: 15px
    width: 100%
    z-index: 10
    background-color: #767676

.onfooter
  margin-top: 0px
  padding-top: 20px
  a
    color: #c3c3c3
    img
      margin-left: 30px
    &:hover
      color: #EB8320
  li
    margin-left: 0
    margin-right: 40px
